.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

	padding-right: 0px !important;
	padding-left: 0px !important;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('/_ui/responsive/common/css/fontawesome-webfont.ttf') format('truetype');
}

.bannerContainer{
	font-family : 'AvantGardeGothicITCW01D 731075';
	position : relative;
}

.bannerOverlay{	
width:670px;
height:420px;
background-color:#fff;
position: absolute;
top:50%;
left:50%;
z-index:1;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

.overlayContent{
	padding: 28px 100px;	
}

.overlayContent .dropdownText{
	font-size:28px;
	color:#e2001a;
	margin: 18px 0px;
}

.showMe {
	border: 1px solid #e2001a;
	color: #e2001a;
	font-size: 19px;
	margin: 20px 80px;
	padding: 4px 0px;
	cursor: pointer;
}

.showOff{
	background-color :  #e2001a;
	color: #fff;
}

.categoryFilterText {
	color: #e2001a;
	font-size: 21px;
	margin-top: 20px;
	text-align: center;
	font-family : 'AvantGardeGothicITCW01D 731075';
}

.custom-select {
	position: relative;
	text-align:center;
}

/* .select .dollarSymbol{
	font-size:8px;
} */

sup {
  font-size: 15px;
}

.custom-select p{
	font-size:12px;
	font-weight: 700;
}

.option{
  padding:5px;
  text-align:center;
  cursor:pointer;
  position:relative;
  border-bottom: 1px dashed #000;
  color:#e2001a;
  font-size:25px;
}

.option span{
	visibility:hidden;
}

.option .hiddenPlaceholder{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-26%, -26%);
}

.option::after {
	content: "\f107";
	font-family: FontAwesome;
	position: absolute;
	bottom:0px;
	right: 5px;
	color: red;
	font-size: 18px;
}

.custom-select ul {
	list-style: none;
	position: absolute;
	left: 0;
	top: 48px;
	box-shadow: 0 2px 2px rgba(0,0,0,0.55);
	display: none;
	z-index: 1;
	width: 157px;
	text-align: center;
	background-color: #fff;
}

.custom-select ul li {
	/* padding: 5px;
	margin-bottom: 2px; */
	background: #fff;
	cursor: pointer;
}

.custom-select ul li:hover{
  background:#e2001a;
}

.custom-select ul li:hover a{
  color:#fff;
}

.custom-select ul li a{
  text-decoration:none;
  color:#e2001a;
  font-size: 25px;
}


@media screen and (max-width: 991px) {
	.bannerOverlay {
	height:355px;
	width:300px;
	text-align:center;
}

.overlayContent {
	padding: 10px 0px;
}

.overlayContent img{
	max-width:70%;
}

.overlayContent .dropdownText {
	font-size: 20px;
	margin: 0px 0px;
}

.custom-select {
	position: relative;
	margin: 0px auto;
	width: 150px;
}

.showMe {
	width:230px;
	margin: 0px auto;
	font-size:18px;
}

}


@media screen and (max-width: 414px) {
	
.bannerOverlay {
	height: 195px;
	width: 180px;
}

.overlayContent img {
	max-width: 50%;
}

.overlayContent .dropdownText, .custom-select ul li a {
	font-size: 12px;
}

.custom-select {
	font-size: 12px;
}

.custom-select ul{
	top:26px;
}


.showMe {
	width: 155px;
	font-size: 12px;
	padding: 2px 0px;
}

.option {
 padding: 0px;
 font-size: 12px;
 line-height: 25px;
}

.custom-select p {
	margin:0px;
	font-size: 10px;
}

sup {
    font-size: 8px;
}

}