/*
## colorBox
********************************************************************/

#cboxOverlay{
    opacity: 0.7 !important;
}


#colorbox{

}

#cboxLoadedContent{
	margin:0;
	width:100%;
}

#cboxClose{
	top:0;
}