
html {
	
}

body {
	color: #000;
	text-align: left;
	font-size: 12px;
	background-color:#E5E5E5;
}
input[type="text"]{
	
	color:#000 !important;
	font-weight:normal !important;
	font-size:14px !important;
	padding-left:10px;
}



#page{
	width:1044px;
	/* padding:0 5px; */
	margin:0 auto;
	background-color:#ffffff;

}



button{
	cursor:pointer;
}


.strong{
	font-weight:bold;
	
}





/*
	Rating Stars
*****************/

.stars{
	background:url("../images/stars.png") repeat-x left center  #cccccc;
	display:block;
	height:14px;
	float:left;
	color: transparent;
}


.rate-base-layer, .rate-select-layer, .rate-hover-layer{
	display:none !important;
}


/*
	required
*****************/

.required.right{
	margin: 0 0 0 20px;
	font-size: 90%;
	color: #666;
	max-width: 60%;
}











table.store-openings {
	padding: 0;	
	margin: 20px 0;

}

table.store-openings td {
	padding: 1px 8px !important;
	border: 1px solid #cccccc !important;
	font-family:'Myriad W01 Regular'; 
}

table.store-openings td.weekday_openings_day {
	padding: 1px 8px 1px 8px !important;
	font-family:'Myriad W01 Regular'; 
   font-weight: bold;
}

table.store-openings td.specialday_openings_date {
	padding: 1px 8px 1px 0 !important;
	font-weight: bold;
}
/* img.categorybanner {
    width: 1170px;
    height: 352px;
} */











/*


	Cart and Pickup button
*****************/

button.pickupInStoreButton,
button.addToCartButton{
	height:40px;
	background:#000;
	color:#fff;
	border:2px solid #000;
	padding:0;
	width:100%;
	font-size:1em;
}


button.pickupInStoreButton{
	background:#fff;
	color:#000;
	
}

button.addToCartButton{
	font-weight:bold;
	text-transform:uppercase;
}
/*


	alerts
*****************/



.alert{
	padding:12px;
	border:1px dotted;
	margin:0 0 20px 0;
}

.alert.positive{
	border-color:#339b01;
	color:#339b01;
}

.alert.negative{
	border-color:#c90400;
	color:#c90400;
}

.alert.neutral{
	border-color:#000;
	color:#000;
}
















/*
	Scroller 
*****************/



.span-24 > .scroller{
	padding:56px 0;
}

.span-24 > .scroller .title{
	font-size:20px;
	font-weight:bold;
	color:rgb(226,0,26);
	border-bottom:1px solid rgb(226,0,26);
	padding:0 0 5px 0;
	text-transform:uppercase;
	margin:0 0 40px 0;
}



.span-24 > .scroller ul li{
	width:220px;
	margin:0 20px 0 0;
}

.span-24 > .scroller ul li{
	width:230px;
	margin:0 10px 0 0;
	

}

.scrollerProduct{
	margin:0 5px;
	display:block;
}


.scrollerProduct .thumb{
	padding:0 0 20px 0;
		margin:0 0 5px 0;
		border-bottom:1px dotted #c1c1c1;
}

.scrollerProduct .thumb img{ 
	width:100%;
}




.scrollerProduct .details{
	color:#8f8f8f;
	padding:0 40px 0 0;

}


.scrollerProduct .priceContainer{
	float:right;
	margin: 0 0 0 5px;
}









/*
	Scroller 
*****************/

.jcarousel-clip {
	overflow: hidden;
}


.jcarousel-skin .jcarousel-prev,
.jcarousel-skin .jcarousel-next {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	background: url("../images/scroller-sprite.png") no-repeat;
	margin:0;
}

.jcarousel-skin .jcarousel-prev[disabled],
.jcarousel-skin .jcarousel-next[disabled] {
	opacity: 0.1;
	cursor: default;
}


.jcarousel-skin .jcarousel-prev-horizontal,
.jcarousel-skin .jcarousel-next-horizontal {
	top: 40%;
}

.jcarousel-skin .jcarousel-prev-horizontal {
	left: -30px;
	background-position: 0 0;
}

.jcarousel-skin .jcarousel-next-horizontal {
	right: -15px;
	background-position: right 0;
}
.jcarousel-skin
{
	width:980px;
	margin-left:12px;
}
.jcarousel-container.jcarousel-container-horizontal
{
	margin-left:15px;
}
.jcarousel-skin .jcarousel-prev-vertical,
.jcarousel-skin .jcarousel-next-vertical {
	left: 50%;
	margin-left: -12.5px;
}

.jcarousel-skin .jcarousel-prev-vertical {
	top: -30px;
	background-position: 0 bottom;
}

.jcarousel-skin .jcarousel-next-vertical {
	bottom: -30px;
	background-position: right bottom;
}







.jcarousel-container-vertical{
	margin:30px 0;
}



.jcarousel-container{
	background:#fff;
}





ul.jcarousel-skin{
	background: url("../images/spinner.gif") no-repeat center center ;
    display: block;
    height: 100%;
    width: 100%;
	min-width:50px;
	min-height:50px;
	
}
/* hide loading */
ul.jcarousel-skin li{
	display:none;
}





/*
	Banner Sizes
*****************/

.cms_disp-img_slot .thumb img,
#content .simple_disp-img img{
	width:100%;
	height:auto;
}
.doCheckoutBut{
	margin-right:0;
}
.disp-img{clear:both;min-height:140px;}
#socialComponent .disp-img{min-height:inherit;}

.disp-img .title{
	display: block;
	
}

.disp-img .thumb{
	float: left;
	margin-right: 10px;

	
}
.headerContent ul li a
{
	text-decoration:underline;
}
.featuredProds h2.title_head{
	font-size: 20px;
    font-weight: bold;
    color: rgb(226,0,26);
    border-bottom: 1px solid rgb(226,0,26);
    padding: 0 0 5px 0;
    text-transform: uppercase;
    margin: 0 0 40px 0;
    width:100%;
    margin-bottom:10px !important;
}

.new_tab_responsive
{
	width: 400px;
    float: right;
}
.new_tab_responsive ul
{
	float:left;
	width:100%;
}
.new_tab_responsive > .content{
	float: left;
    width: 100%;
    position: relative;
    border:1px solid #ccc;border-top-width:0;margin:0;padding:10px;
}
.tab-review .review-pagination-bar button{
	font-family:'AvantGardeGothicITCW01D 731075'; 
	font-size:16px;
}
.new_tab_responsive .content div.tabbody,.new_tab_responsive .content div.tabbody p{margin:0;padding:0; font-size: 16px;font-family: "Myriad W01 Regular";}
.product-classifications{font-size:12px;}
.tab-title{color:#e2001a;font-weight:bold;margin-top:25px;display:block;     font-size: 14px;    font-family:"Myriad W01 SmBd";}
#findStoresNearMe
{
	margin: 12px 0 10px 0px;
    color: #ffffff;
    background-color: #e2001a;
    border: medium none;
    cursor: pointer;
    height: 30px;
    width: 165px;
    vertical-align: middle;
    font-weight: normal;
    
    padding: 0 5px 0 5px;
    -webkit-appearance: none;
    font-size: 14px;
   color:#fff;
 font-family:'AvantGardeGothicITCW01D 731075'; 
 text-transform:uppercase;
    
    
}


.site-search .btn-link {
	
    color: #e2001a;
	}
	
	
.product-details .name
{
	font-size: 25px !important;
	font-family:"Myriad W01 Bd" !important;
}


#findStoresNearMe:hover
{
  /*  background-color : #ff9292; */
}
.btn-new-store{
	margin-top: -1px;
	color: #ffffff;
    background-color:#e2001a;
    border-color: transparent;
    -webkit-box-shadow: 0 2px 2px 0 #e2001a;
    box-shadow: 0 0px 0px 0 #e2001a;
}
.form-control {

	height:34px !important;	
	font-family:Myriad W01 Regular;
	font-size:12px;
}
#accordionitems .accheader {
		
	border: none;
	background: none repeat scroll 0 0 #FFED00;
    color: #404040;
    font-size: 14px;
    padding: 3px 10px 8px;
    text-decoration:none;
    font-family: "Myriad W01 SmBd";
    margin-bottom: 2px;
             
}

#accordionitems .accheader span.plus{
  
    height: 25px !important;
    width: 24px !important;
    float: right;
     background-image: url("../images/ui-icons_ef8c08_256x240.png");
         background-repeat: no-repeat;
    background-position: right 0px;
        background-repeat : no-repeat;
 
}

.managementTeamPagesection2 #accordionitems .ui-state-default span.plus{
     background-image: url("../images/ui-icons_ef8c08_256x240.png");
    background-repeat: no-repeat;
     background-position: 0 -29px ;
    background-repeat : no-repeat;
 
}

#accordionitems .content{
	font-size:13px;
	background-color:lightgrey;
    font-style: normal;
    padding-top: 15px;
    left-margin: 0;
    font-family: "Myriad W01 Regular";
    display:none;
    margin:-2px 0 2px;
	color: #404040;
}

.details  .categorybanner
{
	   /*  width: 100%;
	    float: left; */
}


/*.managementTeamPagesection2 #accordionitems .ui-state-default{
	   background-image: url("../images/ui-icons_ef8c08_256x240.png");
              background-repeat: no-repeat;
    background-position: right 4px;
        background-repeat : no-repeat;
}*/

#accordionitems .faqtoggle{
	display:block;
}
.cls
{
	display:none;
}
@media(max-width:1024px) and (min-width: 768px){
	#menudropdown span{
		display:inline-block;
		color: #e2001a;
		padding:0px 8px  0px 2px;}
	#menudropdown a {display:inline;padding-right: 8px;}
}

@media(min-width:1026px){
	#menudropdown span{
		display:none;
	}}

/* terms and conditions page */

.termsAndConditions #mainSection {
    background-color: #ededed;
    color: #333333;
    font-family: Arial,Sans-serif;
    font-size: 10px;
    height: 83%;
    padding: 5px 5px 5px 10px;
}
.termsAndConditions #mainSection .mainContent {
    background-color: #fff;
    height: 96%;
    margin-top: 20px;
    overflow: auto;
}


.termsAndConditions .links {
    padding: 5px;
    height: 10%;
    text-align: center;
}
.termsAndConditions .links form {
    vertical-align: baseline;
}
.termsAndConditions .links label {
    margin-bottom: 5px;
    font-size: 13px;
    vertical-align: baseline;
}
.giftcardpage .giftVouchers .right-content a{
	    font-size: 16px;
    color: #fff;
    font-family: 'AvantGardeGothicITCW01D 731075';
}
.giftcardpage .giftCards #giftCardsLink p {
	    font-size: 13px;
    font-family: "Myriad W01 Regular";
}
.giftcardpage .giftVouchers #giftVouchersLink p {
	    font-size: 13px;
    font-family: "Myriad W01 Regular";
	color:#404040;
}
.giftCards #giftCardsLink a, .termsAndConditions .links a {
    color: #FFFFFF;
    font-family: 'AvantGardeGothicITCW01D 731075';
    background-color: #e2001a;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 10px 12px 10px;
    text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2001a,endColorstr=#CB0000);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2001a,endColorstr=#CB0000);
    background-image: -ms-linear-gradient(top,#e2001a,#CB0000);
    background-image: -o-linear-gradient(top,#e2001a,#CB0000);
    background-image: -webkit-gradient(top,#e2001a,#CB0000);
    background-image: linear-gradient(top,#e2001a,#CB0000);
}

.termsAndConditions {
    height: 100%;
    background-color: #ededed;
}
.content {
    color: #333333;
    font-weight: normal;
    font-style: normal;
    font-size: 13px;
    padding: 5px;
}
.termsAndConditions .links a.notaccepted {
    opacity: 0.6;
}

.termsAndConditions .links a {
    padding: 5px 20px 5px 20px;
}
#cboxLoadedContent {
    margin-top: 56px;
    padding: 0;
}

#maphide
{
	height:480px;margin-left:80px;
}
.store-finder-details-info-displayName.js-store-displayName
{
 font-family:"Myriad W01 SmBd";
 font-size: 14px;
  color:#e2001a;
text-transform: Capitalize;
}


@media(max-width:1199px){
	
	#colorbox{
	left:0px !important;
	top:0px !important;
	}
	#colorbox,#cboxWrapper{width:100% !important;}
	#cboxContent{width:90% !important;}
	#cboxLoadedContent{width:95% !important;}
}
 @media(max-width:750px){
.rating-stars{width:75px;}	
}
.mini-cart-body .simple-banner-component img{display:none;}/*to remove box in empty cart*/
.js-store-line1,.js-store-line2{
display:inline;
font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform: capitalize;	
} 
.js-store-town{
font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform:capitalize;	
}
.js-store-state{padding-bottom:10px;font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform:capitalize;
}
.js-store-postalCode{
margin-top:10px;
font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform:capitalize;
}
.js-store-phone{
font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform:capitalize;
}
 .rating-stars{color:#e2001a;}
 .phonetitle{
 font-family:"Myriad W01 Regular";
font-size:13px;
color:#404040;
text-transform:capitalize;
 }

 
 
 /*for hover zooming*/
 
/* /* #zoomingwidth{
	height:250px !important;
	width:250px !important;
}
 

.spzoom-zoom {
    z-index: 97;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 250px;
    height: 250px;
}
.spzoom-tracker {
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #ccc;
    z-index: 97;
}
.spzoom-title {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #fff;
    background-color: #222;
    padding: 3px 5px;
    line-height: 14px;
}
.spzoom-loader {
    width: 24px;
    height: 24px;
    background: url('spzoom-loader.gif') 50% 50% no-repeat scroll #fff;
    border: 1px solid #ccc;
}

.dispaynone{
	display:none !important;
}
.opacityzero{
	opacity:0 !important;
} */

.CallOutListDiv{
	position: relative;
}

.CallOutProdDiv{
	position: absolute;
}

.CallOutDiv{
	padding-left: 0px;
	padding-right: 0px;
	width:140px;
	height:25px;
	text-align:center;
	font-family: 'AvantGardeGothicITCW01D 731075',Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	font-size:14px;
	padding-top:2px;
	z-index:2;
}

@media (min-width:992px){
	.CallOutProdDiv {top: -10px;left: 0px;}
	.CallOutListDiv{top: -0px;left: 20px;}
}
@media (min-width:768px) and (max-width:991px){
	.CallOutProdDiv {top: -10px;left: 0px;}
	.CallOutListDiv{top: -0px;left: 20px;}
}
@media (min-width:480px) and (max-width:767px){
	.CallOutProdDiv {top: -10px;left: 0px;}
	.CallOutListDiv{top: -0px;left: 20px;}
}
@media (min-width:320px) and (max-width:479px){
	.CallOutProdDiv {top: -10px;left: 0px;}
	.CallOutListDiv{top: -0px;left: 20px;width:90px;height:17px;font-size:10px;}
}

.CO_NEW{
	background-color: #96C61D;
	color: #FFFFFF;
}
.CO_PRICECHOP{
	background-color: #F18B19;
	color: #FFFFFF;
}
.CO_CATALOGUEDEAL{
	background-color: #E2001A;
	color: #FFFFFF;
}
.CO_TVDEAL{
	background-color: #833498;
	color: #FFFFFF;
}
.CO_CLEARANCE{
	background-color: #FFED00;
	color: #000000;
}
.CO_EVERYDAY{
	background-color: #E2001A;
	color: #FFED00;
}
.CO_SAVVYDEAL{
	background-color: #1049A0;
	color: #FFFFFF;
}
.CO_MULTIBUY{
	background-color: #000000;
	color: #FFFFFF;
}
.CO_JOBLOT{
	background-color: #FFED00;
	color: #E2001A;
}

.main-header .main-navigation > .nav > li > a
{
	    font-family: 'AvantGardeGothicITCW01D 731075';
}
.imageZoom .newClassGallery 
{
	margin-left:50px;
}

.mini-cart-list .printlogo {
    display: block;
        position: absolute;
    top: 10px;
}

.mini-cart-list .printlogo span{float:right;}
#cboxTitle{
    text-transform: capitalize;
    color: #000 !important;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 10px 7px;
    line-height:35px;
}
.HeroBanner .details .title{
	font-size: 25px;
	font-family: "Myriad W01 Bd";
	color: #404040;
	}
.HeroBanner .details .categorybanner.img{
	width:1170px;
}
.HeroBanner .details .content{
	font-size: 13px;
	font-family: "AvantGardeGothicITCW01B 731069";
	color: #404040;
	text-align:center;
	padding-top: 20px;;
}

.serach{position:absolute;bottom:10px;left:20px;}
.image-gallery .serach img{width:auto;}
.image-gallery.searchicon > img{position:absolute;bottom:10px;left:20px;z-index:1;}
.product-details{
	    position: inherit;
}
.sitemapview h2{
	background-color: #F3F2F2;
    box-shadow: 1px 1px 1px #DDD;
    margin-right: 10px;
    padding: 5px 0px 5px 10px;
    color: #000;
    font-size: 16px;
    font-family: "Myriad W01 Regular";
    color: #615E5A;
    font-style: normal;
    font-weight: bold;
}
.sitemapview a {
    color: #333;
}
.masonry-brick ol{padding-left:15px;}
.btn-default.js-shopping-button{
	color: #fff;
    background: #e2001a;
    border-color: #e2001a;
    text-transform: capitalize;
    font-family: 'AvantGardeGothicITCW01D 731075';
    font-size: 16px;
}
ol.mini-cart-list{
	list-style:none;
	border-top: 2px solid #E2001A;
    padding-top: 10px;
    border-bottom:0 !important;
}
.rate-base-layer{display:none !important;}
.btn-primary, .btn-default{    box-shadow: none !important;}
 .btn-primary , .btn-default:active:focus, .btn-default:active:hover{
	color: #fff !important;
    background: #e2001a !important;
    border-color: #e2001a !important;
}
.page-notFound footer, .page-searchEmpty footer{position:relative !important;bottom:0;}
.page-title{
	    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}
.thumbnail-images .owl-item{
	margin-right:10px;
}

@media (min-width:320px) and (max-width:479px){
	#cataloguedisplay{width:320px;
		border-style:solid;}
}
@media (min-width:480px) and (max-width:767px){
	#cataloguedisplay{width:470px;
		border-style:solid;}
}
@media (min-width:768px) and (max-width:991px){
	#cataloguedisplay{width:768px;
		border-style:solid;}
}

@media (min-width:992px){
	#cataloguedisplay{width:100%;
		border-style:none;}
}
.owl-wrapper .owl-item{
	width: 196px !important;
}
.carousel-component {
    width: 1006px !important;
}