
body{
	
	max-width:100%;
}

/*footer changes starts*/
.footer
{
	    clear: both;
    background-color: rgb(226, 0, 26);
    margin: 0px auto;
    padding: 10px 0px;
    width:100%;
    float:left;
}
#content
{
	padding-top:165px;
	padding-left: 20px;
}
.page-productDetails #content
{
	padding-top:222px;
	padding-left: 20px;
}
.page-productList #content {
    padding-top: 210px;
    padding-left: 20px;
}
.productListComponentImage
{
	width:98%;
}
#gallery.carousel.slide .carousel-inner
{
	width:870px;
	float:left;	
}
.carousel-indicators
{
	display:none;
}
.banner_image
{
	width:100%;
	height:auto;
}
#footerNavigation {
    margin-left:24px;}
#footerNavigation>ul>li{list-style-type:none;width:20%;float:left}
#footerNavigation ul li a{color:#404040;font-family:'AvantGardeGothicITCW01B 731069'; text-decoration:none;font-size:11px;font-weight:normal;}
#footerNavigation ul li a:hover, #footerNavigation ul li a:focus{color:#e2001a;}
#followusNavigation .navNodes li ul
{
	width:100%;
	display:inline-flex;
}
#followusNavigation .navNodes
{
	padding:0px;
}
#followusNavigation .disp-img.simple-banner
{
	width:110px;
	float:left;
	margin-right:10px;
}
#followusNavigation h3
{
	color:#ffffff;
	font-size:12px;
	line-height:0px;
	font-weight: 600;
	margin-left:23%;
}
#socialComponent .details
{
	line-height: 32px;
	color:#ffffff;
}

#copyright.SecondaryNavigationComponent
{
	float:none;
}
#footerBottomComponent .container{border-top:1px solid #e2001a;text-align:center;padding-top:10px;}
#footerBottomComponent .container li{display:inline-block;}
#footerBottomComponent .container li a, #footerBottomComponent .container li div{color:#e2001a;font-weight:normal;padding:0;text-decoration:none;font-family:'AvantGardeGothicITCW01B 731069'; font-size:11px;}
#footerNavigation ul li a.heading,#footerNavigation ul li #socialComponent h3
{
	font-family:'AvantGardeGothicITCW01D 731075'; 
    color: #e2001a;
    padding-right: 22px;
	font-size:12px;
	font-weight:normal;
}

.SecondaryNavigationComponent h3 a:hover,.navNodes a
{
	text-decoration:none;	
}
.SecondaryNavigationComponent ul.navNodes
{	
	margin-bottom:5px;
	text-align:left;
}
#followusNavigation 
{
	display: inline-flex;
    margin-top: 5px;
    border-bottom: 1px solid #fff;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    height: 40px;
    width:100%;
} 
#followusNavigation ul
{
	/* display:inline-flex; */
	margin-left:10px;
	margin-right:10px;
}
#followusNavigation ul>li
{
	float:left;
} 

/*footer changes Ends*/
/*Content changes starts */
.thumbnail_detail .store_finder .span-16
{
	border:1px solid #bbb;
	height:50px;
	background-color: rgb(266,0,26);
}
.store_finder #storeFinderForm span
{
	 font-size: 21px; 
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
#storeFinderForm span input[type="text"]
{
	border-radius: 20px;
    width: 175px;
    /* float: right; */
    height: 30px !important;
    border: 1px solid; background: #5D3385;;
}
.findStoreBtn input[type="submit"]
{
	 background-color: #ffed00;
    border: medium none;
    cursor: pointer;
    height: 30px;
    width: 113px;
    vertical-align: middle;
    margin-left: 10px;
    color: #e2001a;
  	font-weight:bold;
    font-size: 15px;
    padding: 0 2px 0 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
#footerLinkBannerComponent .container span, .store_finder #storeFinder span
{
	 font-size: 21px; 
    line-height: 30px;
    float: left;
    margin-right: 10px;
}
#emailClubNavigation h3 input[type="submit"]
{
	background-color: #ffed00;
    border: medium none;
    cursor: pointer;
    vertical-align: middle;
    margin-left: 10px;
    color:#5D3385;
  	font-weight:bold;
    font-size: 14px;padding:0 10px;text-transform:capitalize;font-family:'AvantGardeGothicITCW01M 731087';  
}
.findStoreBtn 
{
	float:right;
	margin-top:10px;
}
#storeFinderForm{margin-top:10px;}
.banner_label
{
	position: relative;
    margin-top: -65px;
}
.banner_label .label
{
	color:#000;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:140px;
	overflow:hidden;
	text-align:left;
	padding:0px;
}
.banner_label .label:hover
{
	color:#000;
	font-size:14px;
	font-weight:bold;
	float:left;
	width:140px;
	overflow:hidden;
	text-align:left;
	text-decoration:underline;
	padding:0px;
}
.samll_banner_link .price h2
{
	
	float:right;
	font-size:14px;
	font-weight:bold;
	margin-top:0px;
	
}
.samll_banner_link
{
	float:left;
	
}
.samll_banner_link .banner_label
{
	    background-color: #fff;
    padding: 5px;
    opacity: 0.95;
    bottom: 4px;
    position: relative;
    min-height: 60px;
    
    font-size: 14px;
    box-shadow: 0 3px 3px #ccc;
    margin-bottom: -0.2px
}
.socialcomponent {
    background: none repeat scroll 0 0 #e2001a;
    padding: 10px;
    width: 300px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.socialcomponent h2 {
    font-size: 24px;
    color: #ffed00;
    margin: 0;
    padding: 0;
   font-weight:bold;
    text-transform: uppercase;
}
.catlog {
    background: none repeat scroll 0 0 #339999;
    margin-bottom: 30px;
    padding: 11px 0 7px;
    width:100%;
    cursor: pointer;
   	height: 298px;
   	margin-top:44px;
}
.catlog img {
    margin: 1px 0 0;
    padding: 0 10px 0 0;
    float: right;
}
.catlog h1 {
    background: none repeat scroll 0 0 #e2001a;
    color: #ffed00;
    font-weight:bold;
    font-size: 24px;
    margin-bottom: 40px;
    padding: 5px 0 4px 4px;
}
.cataloglink a {
    color: #e2001a;
    font-weight:bold;
    font-size: 16px;
    border-radius: 3px;
    background: none repeat scroll 0 0 #ffed00;
    float: right;
    margin: 13px 14px 0 0;
    text-align: center;
    padding: 2px 7px;
    text-decoration: none;
}
.catlog p {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    padding: 0 0 0 10px;
}
.giftcardpage .giftCards .left-content p  {
	font-size: 13px;
    font-family: "Myriad W01 Regular";
}
.giftcard
{
   background:none repeat scroll 0 0 rgb(213, 2, 32);
    margin-bottom: 30px;
    padding: 11px 0 7px;
    width: 320px;
    cursor: pointer;
    height: 298px;
    margin-top: 69px;
}
.giftcard h1
{
	width:230px;
	background-color:#FFF200;
	color: rgb(226,0,26);
	font-size:25px;
	text-align:center;
	padding:5px;
	
}
.giftcard .checkbalance
{
	    width: 195px;
    background-color: #FFF200;
    color: rgb(226,0,26);
    font-size: 19px;
    text-align: center;
    margin-right: 25px;
    float: right;
    margin-top: -16px;
    border-radius:5px;
}
.giftcard p
{
	color:#ffffff;
	margin-left:5px;
	margin-top:80px;
}
.giftcard img
{
	float:right;
	margin-top:20px;
	border:1px solid #bbb;
	margin-right:5px;
	padding:20px;
	
}
.thumbnail_detail .twitter {
    width: 316px;

}
.thumbnail_detail .twitter img {
    width: 100%;

}
#footerNavigation>div>ul{width:100%;float:left;position:relative}
#footerNavigation>div>ul>li{width:20%;float:left;}
@media(min-width:768px){
	.SecondaryNavigationComponent ul.navNodes{display:block !important;}
}
@media(max-width:767px){
	/* Footer Accordion */
	#footerNavigation>div>ul>li{width:100%;}
	.SecondaryNavigationComponent{margin:0;border-bottom:1px solid #e0e0e0;}
	#footerNavigation>div>ul{margin:0 -15px;width:calc(100% + 30px);}
	.SecondaryNavigationComponent h3{margin:0;padding:0;}
	#footerNavigation ul li a.heading, #footerNavigation ul li #socialComponent h3{display:block;padding:7px 15px;cursor:pointer;margin:0;
		background: -moz-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* ff3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(227,227,227,1))); /* safari4+,chrome */
		background: -webkit-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
		background: -o-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
		background: -ms-linear-gradient(90deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* ie10+ */
		background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* w3c */
	}
	.SecondaryNavigationComponent ul.navNodes{display:none;margin-bottom:0;}
	.SecondaryNavigationComponent ul.navNodes li a{padding:2px 15px;display:block;border-bottom:1px solid #ddd;}
	.SecondaryNavigationComponent ul.navNodes li:last-child a{border-bottom:0;}
	#socialComponent ul{margin-left: 15px;}
}
/*Content changes ends */


/*Media query for mobile starts*/
@media only screen and (max-device-width: 480px) {
	#footerNavigation>ul>li {
    list-style-type: none;
    display: inline-flex;
    width: 100% !important;
  /*  padding-left: 30px;*/
    margin-left:0px;
    float: left;
    border-bottom:1px solid #fff;
	}
	#footerNavigation>ul>li:last-child {
    	border-bottom:0px;
	}
	#socialComponent .details
	{
		display:none;
	}
	
	#followusNavigation ul>li
	{
		float:left;
		
	} 
	#followusNavigation .disp-img.simple-banner {
    width: auto !important;
    float: left;
   
	}
	#followusNavigation>h3
	{
		margin-left:10px;
		margin-top:16px;
		 color: #ffffff;
    font-size: 10px;
    line-height: 0px;
    font-weight: 600;
  
	}
}
/*Media Query For mobile Ends*/
/*homepage baner starts */
.first_top_banner
{
	width:70%;
	float:left;
	margin-bottom:60px;
}
.second_top_banner
{
	float:left;
	margin-left:10px;
}
/*homepage baner ends */


/*porduct categories page starts */
.product-listing.product-list .product-item {
    width:calc(25% - 7.5px);
    float:left;
    margin:0 20px 18px 0;
}
.product-listing.product-list .product-item a.thumb {
   margin-bottom: 10px;
}

@media (min-width:992px){
	.product-listing.product-list .product-item{width:calc(25% - 15px);}
	.product-listing.product-list .product-item:nth-child(4n){margin-right:0;}
}
@media (min-width:768px) and (max-width:991px){
	.product-listing.product-list .product-item{width:calc(33.33% - 13.33px);}
	.product-listing.product-list .product-item:nth-child(3n){margin-right:0;}
}
@media (min-width:480px) and (max-width:767px){
	.product-listing.product-list .product-item{width:calc(50% - 10px);}
	.product-listing.product-list .product-item:nth-child(2n){margin-right:0;}
}
@media (min-width:320px) and (max-width:479px){
	.product-listing.product-list .product-item{width:calc(50% - 10px);margin:0 0 4px 0;}
}
.product-listing.product-list .thumb img{width:100%;}
.price{color:rgb(226,0,26);}
#shoppingListButton .mini-cart-link
{	
	float:left;line-height:inherit;
	margin-top:20px;
}
#shoppingListButton .mini-cart-count{
	 border-radius: 90%;
    width: 13px;
    height: 13px;
    background: transparent !important;
    color: green !important;
    font-size: 10px;
    margin-top: 6px;
    margin-left: -22px;
    min-width: 1px !important;
    line-height: 14px;
    margin-right: 6px;
    font-size: 11px;
    font-weight: bold;
		
}
#owl-demo .item{
  background: #fff;
  padding:0;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-item img
{
	width:100%;
	height:100%;
}
.customNavigation{
  text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.owl-prev,.owl-next
{
	color: transparent !important;
}


/*Cart Page Style starts */
#printablediv
{
	width:100%;
	
}
.print_div
{
	width:100%;
	float:left;
	margin-bottom:25px;
}
.printButton
{
    width: 100px;
    height: 30px;
    border: 1px solid #bbb;
    float: left;
    text-align: center;
    line-height: 28px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #E2001A;
    color: #FFF200;
    background-image: url("../images/print.png");
    background-repeat: no-repeat;
       background-position: 8px 7px;
    /* padding: 10px; */
    padding-left: 15px;
    background-size: 14px 14px;
    font-family:'Myriad W01 Bd';
    font-size:16px;
    
}
.printButton:hover,.emailButton:hover,.printWithImageButton
{
	font-family:'Myriad W01 Bd';
    font-size:16px;
    color:#FFF200 !important;
    
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .thumb
{
	width:100%;
	height:100%;
	float:left;
    margin-top: 5px;
    position:relative;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item
{
	width:100%;
	height:100%;
	float:left;
	border-bottom:2px solid #000;
	padding-bottom:10px;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .thumb a
{
	width:200px;
	height:200px;
	border:1px solid #bbb;
	float:left;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .thumb a img
{
	width:100%;
	height:100%;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details
{
	    margin: 0px;
    padding-top: 9px;
    float: left;
    width: 100%;
    position: absolute;
    margin-top: 10px;
}

#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .name
{

    float: left;
    width: 100%;
    font-family:'Myriad W01 Bd';
    font-size:12px;
    color:#000000;
    position: absolute;
    left: 25%;

}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .sku
{

    float: left;
    width: 100%;
    font-family:'Myriad W01 Bd';
    font-size:12px;
    color:#000000;
    position: absolute;
    left: 25%;
    margin-top:16px;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .qty
{
    float: left;
    width: 153px;
    margin-top:35px;
	font-family:'Myriad W01 Regular';
    font-size:12px;
    color:#000000;
    position: absolute;
    left: 25%;
}
#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .price
{
	text-align:left;
	margin-top:10px;
	float:right;
	font-family:'Myriad W01 Regular';
	font-weight :bold;
    font-size:28px;
    color:#000000;
    position: absolute;
    top: 26%;
    right:4%;
    margin-right: 10px;
}

@media (max-width: 780px){
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .thumb a
    {
        width:150px;
        height:150px;
        border:0px solid #bbb;
        float:left;
    }

    #printablediv .mini-cart-body ol.mini-cart-list .heading span{
        top:59px;
        left:4%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .printlogo img{
        width:80%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .name {
        float:right;
        left:41%;
        margin-top:36px;
        width:58%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .qty {
        float:right;
        left:41%;
        margin-top:70px;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .del-button {
        float:right;
        left:41%;
        bottom:-109px;
    }

    #printablediv .mini-cart-body .mini-cart-totals .key {
        right:21%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .price {
        right: 9%;
    }
    .managementpage{
        margin:20px auto 40px 3px !important;
    }
    .pagination-bar .pagination {
        margin-top:10px !important;
    }
}

@media print {
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .thumb
    {
        width:50%;
    }
    #cboxContent,#cboxLoadedContent{width:90% !important;}
    #printablediv .mini-cart-body{width:100%}
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details
    {
        margin: 0px;
        padding-top: 9px;
        float: left;
        width: 100%;
        position: relative;
        margin-top: 0px;
    }

    #printablediv .mini-cart-body ol.mini-cart-list .heading span{
        top:59px;
        left:4%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .printlogo img{
        width:80%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .name, .sku  {
        float:left;
        left:41%;
        margin-top:36px;
        width:58%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .qty   {
        float:left;
        left:41%;
        margin-top:10px;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .del-button {
        float:right;
        left:41%;
        bottom:-109px;
    }

    #printablediv .mini-cart-body .mini-cart-totals .key {
        right:21%;
    }
    #printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item .details .price {
        right: 9%;
    }
    .managementpage{
        margin:20px auto 40px 3px !important;
    }
    .pagination-bar .pagination {
        margin-top:10px !important;
    }
}

#printablediv .mini-cart-body ol.mini-cart-list .mini-cart-item  .submitRemoveProduct
{
	background-image: url("../images/remove.png");
    background-repeat: no-repeat;
    background-size: 16px 15px;
    
    padding-left: 15px;
}
#printablediv .mini-cart-totals
{
	margin-top: 10px;
    float: left;
    width: 100%;
    font-family:'Myriad W01 Bd';
    font-size:24px;
    color:#000000;
    border-bottom:2px solid black !important;
}
.date
{
	float:right;
	position: absolute;
   /* top: 0px;*/
    right: 10%;
}
.del-button
{
    position: inherit;
    bottom:-102px;
    left: 25%;
}


#printablediv .mini-cart-totals .key,.mini-cart-totals .value
{
	font-weight:bold;
	
}
.pagination-bar {
    width: 100%;
    float: left;
}
.printButton, .printWithImageButton{
    width: 140px;
    height: 30px;
    border: 1px solid #bbb;
    float: right;
    text-align: center;
    line-height: 28px;
    border-radius: 0px !important;
    text-decoration: none;
    background-color: #E2001A;
    font-family:'Myriad W01 Bd';
    color: #FFF200;
    background-image: url("../images/print.png");
    background-repeat: no-repeat;
    background-position: 5px 7px;
    /* padding: 10px; */
    padding-left: 15px;
    background-size: 14px 14px;
    margin-top:5px;
    
}
a.printButton {
   
    border-radius: 0px;
}
.emailButton{
	
	width: 105px;
    height: 30px;
    border: 1px solid #bbb;
    float: right;
    text-align: center;
    line-height: 28px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #E2001A;
    color: #FFF200;
    background-size: 14px 14px;
    margin-top: 5px;
    margin-right: 10px;
    background-image: url("../images/sendEmail.png");
    background-repeat: no-repeat;
    background-position: 8px 7px;
    padding-left: 16px;
}
/*Cart Page Style ends */


#fvpp-blackout {
  display: none;
  z-index: 499;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
}

#my-welcome-message{
  display: none;
  z-index: 500;
  position: fixed;
  left:50%;
  top: 20%;
  padding: 20px 2%;
  font-family:"Myriad W01 Regular";
  background: #FFF;
  margin-left:-250px;
  max-width:500px;
}
#my-welcome-message h1 {
	font-size: 30px;
  font-family:"Myriad W01 Regular";
}
#my-welcome-message p {
  font-family:"Myriad W01 Regular";
}
#fvpp-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

#fvpp-dialog h2 {
  font-size: 2em;
  margin: 0;
}

#fvpp-dialog p { margin: 0; }
.sarvyEmial{
	    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #999999;
    font-size: 12px;
    height: 36px;
    padding-left: 12px;
    width: 70%;
    float:left;
}
.sarvySignMe{
	     color: #ffffff;
    background-color: #ff4444;
    border: medium none;
    cursor: pointer;
    height: 36px;
    width: 120px;
    vertical-align: middle;
    margin-left: 10px;
    /* color: #e2001a; */
    font-weight: bold;
    font-size: 15px;
    padding: 0 2px 0 3px;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.mini-cart .mini-cart-body .mini-cart-totals .key {
    
    position: absolute;
    right: 9%;
 font-family: "Myriad W01 Bd";
   font-size: 24px;
 color:#000000;
 }

.mini-cart .mini-cart-body .mini-cart-totals {
    border-bottom: 1px solid transparent !important;
    border-width: 1px 0;
    margin: 10px 0px !important;
    padding: 10px;
}
/* .border-div
{
	border-bottom:2px solid black;
} */
/*removing refine */
/* .sort-refine-bar
{
	display:none;
} */
.page-productDetails .breadcrumb li:nth-child(5)
{
	display:none;
}
.mini-cart-totals .price {
    color: black;
}

.v-center {
  height: 100vh;
  width: 100%;
  display: table;
  position: relative;
  text-align: center;
}
.heading span {
    /* float: right; */
    position: absolute;
    right: 10%;
    top: 3%;
    font-family:"AvantGardeGothicITCW01D 731075";
    font-size: 18px;
    color: #000000;
    
}

.v-center > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  top: -10%;
}


.btn-small {
  padding: .75em 1em;
  font-size: 0.8em;
}

.modal-box {
  top:1% !important;
  display: none;
  position: absolute;
  z-index: 1000;
  width: 90%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  max-width:800px;
}
.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0;    font-family: "Myriad W01 Regular"; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
      float: left;
    width: 100%;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position:fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}



.send_email_button{
	    color: #ffffff;
    background-color: #ff4444;
    border: medium none;
    cursor: pointer;
    height: 30px;
    width: 165px;
    vertical-align: middle;
    margin-left: 10px;
    /* color: #e2001a; */
    font-weight: bold;
    font-size: 15px;
    padding: 8px 5px 8px 5px;
    -webkit-appearance: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-top: 19px;
    margin-right:20px;
}
#popup1 header,#popup2 header
{
	background: #e2001a;
	color:#FFF200;
}
.email_details strong
{
	color: #e2001a;
	padding:18px;
    font-family: 'Myriad W01 Regular';
}
.email_details p {
    padding: 5px 20px 10px 20px;
    margin: 0;
    font-family: 'Myriad W01 Regular';
    font-size: 14px;
    color: #404040;
}
.productDetailsEmail
{
	width:100%;
	float:left;
}
.productDetailsEmail img
{
	width:160px;
	height:160px;
	float:left;
	border:1px solid #bbb;
	margin-left:20px;
}
.productPrice
{
	margin-left:10px;
	float:left;
}
.productPrice .summary
{
	margin-top:10px;
}
.email_details
{
	margin-top:10px;
}
a.close {
 
  font-size: 1.5em;
  position: absolute;
  right: 2%;
  top:3%;
  text-decoration: none;
  color: #FFF200;
  opacity:1 !important;
  background:url(../images/cancel.png) no-repeat;width:20px;background-size:20px;
  height:20px;
}


button#cboxClose
 {
     background-color: #ED1B24 !important;
   
    background-repeat: no-repeat;
    right: 5px;
    top: 5px;
    color:transparent !important;
    box-shadow: none !important;
  background:url(../images/icon-modal-close.png) no-repeat 4px;
  width:24px;
      height: 25px;
	background-size: 16px;
}
/* #popup1 a.close{margin-top:-24px;} */
#emailForm
{
	width:90%;
	background:#FAFAFA;
	border:1px solid #bbb;
	border-radius: 5px 5px 0 0;
	float:left;
	margin:20px;
	padding:0px 0px 20px 0px !important;
}
#emailForm h2
{
	width:100%;
	float:left;
	border-bottom:1px solid #bbb;
	background-color:#ededed;
	
	border-left:0px;
	border-right:0px;
	margin: 0px !important;
	padding-left:20px;
	padding-top:10px;
	color:#404040;
	font-family:"Myriad W01 Regular";
    font-size:28px;
    
	
}
.label_text
{
	width:100%;
	float:left;
	
}
.label_text span
{
	float:left;
	width:50%;
	margin:20px;
	color:#492869;
}
.label_text input,.label_text textarea
{
	float:left;
	width:250px;
	margin-top:16px;
	border:1px solid #bbb;
	 resize: none;
}
/*.....*/
/**
 * EasyZoom core styles
 */
.easyzoom {
	position: relative;

	/* 'Shrink-wrap' the element */
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

.easyzoom img {
	vertical-align: bottom;
}

.easyzoom.is-loading img {
	cursor: progress;
}

.easyzoom.is-ready img {
	cursor: crosshair;
}

.easyzoom.is-error  img {
	cursor: not-allowed;
}

.easyzoom-notice {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 150;
	width: 10em;
	margin: -1em 0 0 -5em;
	line-height: 2em;
	text-align: center;
	background: #FFF;
	box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
	position:absolute;
	z-index: 100;
	overflow: hidden;
	background: #FFF;
}

/**
 * EasyZoom layout variations
 */
.easyzoom--overlay .easyzoom-flyout {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 20px;
}
.easyzoom-flyout img{
	height:500px !important;
	width:500px !important;
}
/*...*/
.carouselImage{
	width:60px !important;
}
.product_summary 
{
	margin-top:10px;
}
.image-gallery{max-width:400px;}
.owl-item img {
width: 96%;
margin: 0 auto;
}
.image-gallery + .product-details .price{position:absolute;right:12px;color:#e2001a;font-size:60px;bottom:0;width: 145px;height: 100px;
    padding-top:6px;}
.store-finder-pagination .pagination-btns{padding-left:0;}
.store-finder-pagination .pagination-btns button{border-width:1px;text-transform:uppercase;font-size:12px;
    font-family: "Myriad W01 Regular";
     color: #404040;
   }
.store-finder-pagination .pagination-btns button:not(:disabled):hover{background:#e2001a;color:#fff;}

@media (max-width:1199px) and (min-width:992px){.image-gallery + .product-details .price{right:-40px;}}
.image-gallery + .product-details .price sup{font-size:40px;top:-20px;}
@media(max-width:399px){
	.main-footer #footerLinkBannerComponent .container input[type="email"]{
	    width: 163px;	    
	}
	#footerLinkBannerComponent .container span,.main-footer #footerLinkBannerComponent .container input[type="submit"]{
	margin-left:0px;
	 margin-right: 0px;
	}
	#shoppingListButton .mini-cart-count {    margin-left: -16px !important;}
	.store-finder-pagination .col-xs-7{font-size:12px;padding-right:0;}
}
@media(max-width:767px) and (min-width:430px){
	#storeFinder .store-finder-pagination .glyphicon-chevron-right{margin-top:10px;}
}
@media(max-width:767px){
	#shoppingListButton .mini-cart-count{margin-left:-38px;}
	.page-productDetails .carousel-component{width:100%;margin-top:15px;}
	#footerLinkBannerComponent .container input[type="email"], #storeFinder span input[type="text"] {width:180px;font-size:13px;}
	.store_finder #storeFinder span input[type="submit"]{margin-left:0px;}
	.store-finder-pagination .pagination-btns button{padding:0;border-width:0;text-transform:capitalize;}
	.store-finder-pagination .pagination-btns button:first-child{padding-left:10px;}
	.store-finder-pagination .pagination-btns button:not(:disabled):hover{background:#fff;color:#777;}
}
@media(max-width:600px){
	#my-welcome-message{left:5%;margin:0;}
	#my-welcome-message h1{font-size:28px;}
}
@media(max-width:1159px){
  .email_details p {
    width: 100%;
    padding: 5px 20px;
}
	.sendEmailInput,#messageSF{
    width: 100% !important;
}
 #sendAFriendForm .recipientError {right: 4%;}
  #sendAFriendForm .emailError,#sendAFriendForm .nameError{right: 14%;}
    .messageError ,.formlabel { font-weight: normal;}
    #sendAFriendForm .messageError{right: 10%;}
  
.easyzoom {
	height:340px;
	width:340px;
}	
.store-finder-pagination .col-xs-3 button{ margin-top: -22px;margin-left: 7px;}
	 .store-finder-pagination .col-xs-2 button{
	    margin-top: 2px;
    margin-left: -28px;
        padding-left: 22px;
	}
	 
	.product_list_container {
    width: 100%;
    margin: auto;
    float: left;
    /* padding-left: 17px; */
}
#Horizontalbanner1 .small_banner_links{
     float: left;
    width:100%;
	 height:100%;
	 padding:5px;
	  
}
#storeFinderForm span input[type="text"]
{
	border-radius: 20px;width:75px;/* float: right; */height: 30px !important;
    border: 1px solid; background: #5D3385;;}
.previous{float:right;}
.next{float:right;}
.reportdetails .downloadlink a{
 color:black !important;
 }
 .reportdetails .downloadlink a:hover{
 color:#2D95C8 !important;
 }
 .reportmedias .reportdetails h3 {
    color: #333333;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
}
   .reportmedias{ font-family: Arial,sans-serif;
    font-size: 15px;
    margin: 28px 0 45px 0;}
.financialreportlist li{
	list-style-type:none;
	
}
.reportdetails  .uploaddate{font-size:13px; }
.reportslink a {
	float:right;
	    font-weight: normal;
	text-transform:capitalize;
     margin-top: -46px;
	}
.reportslink a:hover{
	 color:#2D95C8;
}
}
.managementTeamPagesection2 .cmsimage img{margin-top:20px;width:100%; margin-bottom: 15px;}
.page-careers-CurrentVacanciesPage .managementTeamPagesection2 .cmsimage img,
.page-customerService-QualityGuaranteePage .managementTeamPagesection2 .cmsimage img,
.page-customerService-ParallelimportsPage .managementTeamPagesection2 .cmsimage img,
.page-customerService-ProductrecallsPage .managementTeamPagesection2 .cmsimage img{width:auto;}
 .imageZoom .owl-carousel .owl-controls .owl-pagination .owl-page span{
     display: block;
    width: 15px;
    height: 15px;
    background: #929292;
    border-radius:25px;
 }
 @media screen and (min-device-width: 320px) and (max-device-width: 568px)
 {
  .page-customerService-ProductrecallsPage .managementTeamPagesection2 .cmsimage img{width:100%;}
 }
 .bx-controls{
	display:none;
}
#SendemailForm th {
	text-align: left !important;
	padding-left: 10px !important;
}
  
 .sendEmailInput{width:50%;}
    .send-a-friend-call,.send-a-reminder-css-submit{
   padding:0px 10px;
    line-height: 28px;
    background-color: #E2001A;
    color: #FFF200;}
    
   #emailForm table, th, td {
	border-collapse: collapse;
}

 #emailForm th, td {
	padding: 5px;
}

#emailForm th {
	text-align: left;
	padding-left: 10px;
}
.modal-box form{float:left;width:100%;padding:20px 10px;}
    .modal-box .form-group{float:left;width:100%;font-family:"Myriad W01 Regular";}
.modal-box .control-label{font-weight:normal;margin:7px 0;}
.modal-box textarea.form-control{min-height:100px;}
.display-error-SR{
    display: none;
    font-size:10px;
    color:#e2001a;
    float:left;
    padding:5px 0 0;
}
.form-group .has-error .help-block{color:#e2001a;font-size:10px;}
.form-group .has-error .form-control{border-color:#e2001a;}
.submitButton .btn-default , .submitButton .btn-default:active {background-color:#e2001a !important; border-color:#e2001a;color:#fff !important;font-family:'AvantGardeGothicITCW01D 731075';}
.submitButton .btn-default:hover {background-color:#e2001a;border-color: #e2001a;color:#fff;}
.managementTeamPagesection2 .reportlist li {list-style:none;}
    #sendReminderFormDiv
{
	width:calc(100% - 40px);
	background:#FAFAFA;
	/*border:1px solid #bbb;*/
	border-radius: 5px 5px 0 0;
	float:left;
	margin:20px;
	padding:0px !important;
}
    #sendReminderFormDiv h2
{
	width:100%;
	float:left;
	border-bottom:1px solid #bbb;
	background-color:#ededed;
	border-left:0px;
	border-right:0px;
	min-height:50px;
	margin: 0px !important;
	padding-left:20px;
	padding-top:10px;
	color:#404040;
	font-family:"Myriad W01 Regular";
	font-size:28px;
}

  #emailForm .input-group-addon ,#sendReminderFormDiv .input-group-addon{
       padding:0px;
       margin:0px;
   }
#emailForm .input-group-addon .glyphicon ,#sendReminderFormDiv .input-group-addon .glyphicon {
    padding:6px 12px;
    color: darkgrey;

}

.js-storefinder-alert.alert-danger{margin-bottom:0;margin-top:15px;border-radius:0;}

/* Pagination */
.w100p{width:100% !important;margin-top:10px;}
.product_list_container .pagination-bar .pagination>li>a,.product_list_container .pagination-bar .pagination>li>span{border-radius:0;}
.pagination-bar .pagination>.active>a,.pagination-bar .pagination>.active>a:focus,
.pagination-bar .pagination>.active>a:hover,.pagination-bar .pagination>.active>span,
.pagination-bar .pagination>.active>span:focus,.pagination-bar .pagination>.active>span:hover,
.pagination-bar .pagination>li>a:focus,.pagination-bar .pagination>li>a:hover{background-color:#e2001a;border-color:#e2001a;color:#fff;border-radius:0;}
.pagination-bar .pagination>li>a,.pagination-bar .pagination>li>span{color:#808080;border-color:#808080;border-radius:0 !important;}
@media(max-width:991px) {
    .product_list_container .pagination-bar .pagination > li > a, .product_list_container .pagination-bar .pagination > li > span {
        padding-left: 10px;
        padding-right: 10px;
    }

    @media screen and (max-device-width: 480px) and (orientation: portrait) {
        .bootstrap-datetimepicker-widget.dropdown-menu {
            right: 36px !important;
        }

        .image-gallery > img {
            display: none;

        }

    }
    .masonry-brick ol {
        padding-left: 15px;
    }
}

.searchSpellingSuggestionPrompt {padding-left:20px;font-family: "Myriad W01 Regular";font-size: 15px;}
.searchSpellingSuggestionPrompt  a {color:#e2001a;}
.searchresultsHeader{padding-left:10px;font-family: "Myriad W01 Bd";font-size: 25px;}
.giftcardpage .giftCards .left-content.gift-wrapper, .giftcardpage .giftVouchers  .left-content.gift-wrapper{width: 100%;float: left;margin:0;}
.giftcardpage .giftCards .right-content.gift-right-content{width: 275px;float: left;}
  .giftVouchers{float: left;}

  .global-alerts{
      font-family:'Myriad W01 Regular';
      font-size:16px;
  }

  .customerfeedbackthankyou h1{
        text-transform: none !important;
  }

  .productPrice .summary{
      font-family:"Myriad W01 Bd";
      font-size:18px;
  }
.productPrice .price{
    text-align: left;
}
span.productIndicatorSale{
    background: url("../images/icon-sale.png");
    position: absolute;
    display: block;
    width:75px;
    height: 72px;
}

span.productIndicatorClearance{
    background: url("../images/btn-clearance-pl.png");
    position: absolute;
    display: block;
    width:75px;
    height: 72px;
}
